[run]
branch = True
source = src/seismic

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    super()
ignore_errors = True
omit =
    tests/*
    formatting_test/*
    examples/*
    docs/*
    */plot/*
    setup.py