.DS_Store
__pycache__
tests/data/
autogen/*.rst
.vscode/settings.json
*.egg-info*
./params.yaml
examples/data
testnb.ipynb
*.ipynb_checkpoints
docs/_build
docs/source/_build
.coverage
build
dist
docs/source/modules/tutorials/*.rst
docs/source/modules/tutorials/*_files