#
# note that this file contains requirements for automatic deployments
# Broader requirements are specified in the environment.yml

geographiclib
h5py <=3.12.1
matplotlib
mpi4py<=4.0.1
openmpi <=5.0.7
numpy>2, <=2.3.5
obspy==1.4.2
pip
prov
pyyaml
scipy >=1.7
flake8
tqdm
setuptools<70

# Other requirements for tests and docs
flake8
pydata-sphinx-theme
sphinx < 6.0
sphinx-copybutton
sphinxcontrib-mermaid
pytest
py