#
# note that this file contains requirements for automatic deployments
# Broader requirements are specified in the environment.yml

geographiclib
h5py
matplotlib
numpy
obspy>=1.3
pip
prov
pyyaml
scipy
tqdm

# Other requirements for tests and docs
flake8
pydata-sphinx-theme
sphinx-copybutton
sphinxcontrib-mermaid
pytest
py